<h1 class="text-center"> Jobs </h1>
<div class="row">
  <div class="col">
    <div class="image-overlay">
      <img src="https://vignette.wikia.nocookie.net/maplestory/images/e/e7/Artwork_Warrior_%28RED%2C_Male%29.png/revision/latest?cb=20131118150759"
           alt="warrior_picture"
           class="job"
           height="370"
           width="250" />
       <div class="project-overlay">
         <div class="text">Warrior</div>
       </div>
    </div>
  </div>
  <div class="col">
    <div class="image-overlay">
      <img src="https://i.pinimg.com/originals/ca/7c/80/ca7c80ff7597b778a7b036018a6ff958.png"
           alt="magician_picture"
           class="job"
           height="370"
           width="250" />
       <div class="project-overlay">
         <div class="text">Magician</div>
       </div>
    </div>
  </div>
  <div class="col">
    <div class="image-overlay">
      <img src="https://vignette.wikia.nocookie.net/maplestory/images/e/e7/Artwork_Thief_%28RED%2C_Male%29.png/revision/latest?cb=20131222192024"
           alt="thief_picture"
           class="job"
           height="370"
           width="250" />
       <div class="project-overlay">
         <div class="text">Thief</div>
       </div>
    </div>
  </div>
  <div class="col">
    <div class="image-overlay">
      <img src="https://vignette.wikia.nocookie.net/maplestory/images/2/2d/Artwork_Bowman_%28RED%2C_Female%29.png/revision/latest?cb=20130628055327"
           alt="archer_picture"
           class="job"
           height="370"
           width="250" />
       <div class="project-overlay">
         <div class="text">Archer</div>
       </div>
    </div>
  </div>
</div>
