<div class="text-center">
<% @battles.each do |battle| %>
  <%= battle.victory %>
  <div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
      <div class="ui vertical divider">VS</div>
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <img src="<%=battle.character.image_url %>" />
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <img src="<%=battle.boss.image_url%>" />
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>
