// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.character-show {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.char-btn {
  display: inline;
}
